<div class="row">
  <div class="col-12 col-sm-12">
    <a href="/">{{ site.domain }}</a> is a fork of <a href="https://aideadlin.es">aideadlin.es</a> 
    and is maintained by <a href="https://twitter.com/{{ site.twitter.username }}">@{{ site.twitter.username }}.</a>.<br>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12">
  <div class="center">
    The available information is under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> license, as it is partially from <a href="http://wikicfp.com">WikiCFP</a>, <a href="https://aideadlin.es">aideadlin.es</a> and  <a href="https://ad-deadlines.com">ad-deadlines.com</a>.
    For details see <a href="//github.com/{{ site.github_username }}/{{ site.github_repo }}#license">here</a>.
  </div>
  </div>
</div>